#nameAdjust {
  padding-left: 1%;
}

.navH {
  background-color: black;
}

#cardID {
  width: 50%;
  height: 50%;
}

.card-img-sizing {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

@media only screen and (max-width: 475px) {
  .card-img-sizing {
    height: 250px;
  }
}