#nameAdjust {
  padding-left: 1%;
}

.navH {
  background-color: black;
}

#cardID {
  width: 50%;
  height: 50%;
}

.card-img-sizing {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 0px) (max-width: 475px) {
  .card-img-sizing {
    height: 250px;
  }

  @media only screen and (min-width: 480px) (max-width: 800px) {
    .card-img-sizing {
      height: 200px;
    }

    /* javi start here and get the sizing done, then force dark mode. */
  }

